#projects {
  margin: 2rem auto;
  padding: 1rem;
}

.project-container .project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem;
}

.project-container .project.alternate .project-content {
  /* justify-content: flex-end; */
  background-color: #ffe0b2;
  padding: 1rem;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-container .project-image img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 1rem;
}

.project-container .project.alternate .project-image img {
  margin-right: 0;
  margin-left: 1rem;
}

.project-container .project-content {
  padding: 1rem;
  border-radius: 0px;
  max-width: 800px;
}

.project-container .project h3 {
  margin-top: 0;
  margin-bottom: 30px;
}

.project-container .project p {
  margin: 0.5rem 0;
}

.project-list li {
  list-style-type: disc;
  margin: 0.5rem 0 0 1.5rem;
}

.project-container .project ul li {
  margin-bottom: 0.5rem;
}

@media (max-width: 810px) {
  #projects {
    padding: 0.5rem;
  }

  .project,
  .project.alternate {
    flex-direction: column;
    align-items: flex-start;
  }

  .project.alternate {
    align-items: flex-start;
  }

  .project-image img {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .project-content {
    max-width: 100%;
  }
}
